@import './index.scss';

.menuLeft{
    height: 250px;
    width: 300px;
    background: $grey;
    border: 2px solid $black;

    //links
    a{
        text-decoration: none;
        color: $white;
        display: block;
        padding: 15px;
        text-align: left;
        border-bottom: 2px solid $black;

        &:hover{
            background: $red;
        }

        &.active{
            background: $red;
        }
    }
}
