@import './index.scss';

.videoUploadContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    form{
        @include formStyle;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.feedback{
    list-style-type: none;
    color: $white;
}

.uploadbtn{
    @include buttonStyle;
    background: $dark-blue;
    text-decoration: none;
    width: 200px;
    border: none;
    padding: 10px 20px;

    &:hover{
        cursor: pointer;
        text-decoration: none;
    }
}