{% extends "base.html" %} 
{% block title %}Register a new student{% endblock %} 

<!-- This is the html page for adding new student -->

{% block content %}
    <div class="menuLeft">
        <a href="/upload" {% if request.path == '/upload' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Upload a video</a>
        <a href="/attendance/log"{% if request.path == '/attendance/log' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> View attendance</a>
        <a href="/add/student" {% if request.path == '/add/student' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Register a student</a>
        <a href="/delete" {% if request.path == '/delete' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Remove a student</a>
        <a href="/student/list" {% if request.path == '/student/list' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> View all students</a>
    </div>

    <div class="mainContainer">
        <div class="title">
            <h1>Register a new student</h1>
        </div>
        <div class="content">
            <div class="registerStudent">
                <form method="POST" id="registrationForm" action="/register_students" enctype="multipart/form-data">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" required>
                    <br>
                    <label for="id">ID:</label>
                    <input type="text" name="id" id="id" required>
                    <br>
                    <label for="photo">Photo:</label>
                    <input type="file" name="photo" id="photo" accept="image/*" required>
                    <br>
                    <div class="formBtn">
                        <input type="submit" class="submitBtn" value="Register student">
                        <input type="button" onclick="clearForm()" class="submitBtn" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
