{% extends "base.html" %} 
{% block title %}Attendance log{% endblock %} 

<!-- Items from dynamoDB database are displayed here -->
<!-- The items are pulled as the url changes to the url of this page -->

{% block content %}
    <div class="menuLeft">
        <a href="/upload" {% if request.path == '/upload' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Upload a video</a>
        <a href="/attendance/log"{% if request.path == '/attendance/log' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> View attendance</a>
        <a href="/add/student" {% if request.path == '/add/student' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Register a student</a>
        <a href="/delete" {% if request.path == '/delete' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Remove a student</a>
        <a href="/student/list" {% if request.path == '/student/list' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> View all students</a>
    </div>

    <div class="mainContainer">
        <div class="attendanceLog" id="attendanceTable">
            <h2>Attendance log</h2>
    
            <input type="date" id="filter-date">  
            <!-- <input id="timestamp-input" type="text" placeholder="Enter timestamp"> -->
            
            <button class="reload" onclick="location.reload()"><i class="fas fa-redo"></i></button>
    
            <table id="myTable" class="attendancetable">
                <thead>
                    <tr>
                        <th>Student name</th>
                        <th>Date</th>
                        <th>Student ID</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        {% for val in row.values() %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>''
            </table>
        </div>
    </div>
{% endblock %}