{% extends "base.html" %} 
{% block title %}Face recognition{% endblock %} 

<!-- This is the homepage html page -->

{% block content %}

    <div class="menuLeft">
        <a href="/upload" {% if request.path == '/upload' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Upload a video</a>
        <a href="/attendance/log"{% if request.path == '/attendance/log' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> View attendance</a>
        <a href="/add/student" {% if request.path == '/add/student' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Register a student</a>
        <a href="/delete" {% if request.path == '/delete' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> Remove a student</a>
        <a href="/student/list" {% if request.path == '/student/list' %}class="active"{% endif %}> <i class="fa fa-arrow-circle-right" style="font-size:16px"></i> View all students</a>
    </div>

    <div class="mainContainer">
        <div class="title">
            <h1>Face recognition based attendance system</h1>
        </div>
        <div class="content">
            <div class="mainmenu">
                <p>Steps to take to achieve an attendance process</p>
                <ul>
                    <li>Register a student</li>
                    <li>Upload a class video</li>
                    <li>View attendance log</li>
                </ul>
                <a href="/upload" class="btn">Go to video upload</a>
            </div>
        </div>
    </div>
    
{% endblock %}